<section>
  <form
    [formGroup]="itemForm"
    (ngSubmit)="collectNewItem()"
    class="newitem-form"
  >
    <mat-form-field>
      <mat-label>Titre de l'objet</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <div
      *ngIf="
        itemForm.controls['name'].errors && itemForm.controls['name'].touched
      "
    >
      <div [hidden]="!itemForm.controls['name'].errors.required" class="error">
        Le nom est obligatoire
      </div>
    </div>

    <mat-form-field>
      <mat-label>Lien de l'image</mat-label>
      <input matInput type="text" formControlName="image" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Catégorie</mat-label>
      <mat-select formControlName="category">
        <mat-option
          *ngFor="let category of categories"
          value="{{ category.id }}"
          (click)="openVideoGamesStationsList(category.id)"
          >{{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="videoGamesStations">
      <mat-label>Console</mat-label>
      <mat-select formControlName="station">
        <mat-option
          *ngFor="let station of videoGamesStationsList"
          value="{{ station.id }}"
          (click)="openVideoGamesStationsList(station.id)"
          >{{ station.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div *ngIf="newItemTags">
      <ul *ngFor="let tag of newItemTags; let i = index">
        <li>
          <div>
            <button (click)="deleteTag(i)">X</button>
            {{ tag.name }}
          </div>
        </li>
      </ul>
    </div>

    <mat-form-field class="example-full-width" *ngIf="tagsForForm">
      <input
        type="text"
        placeholder="Ajoute un tag"
        aria-label="tag"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <p (click)="selectTag(myControl.value)">Add</p>
    </mat-form-field>

    <button type="submit" class="valid-button" [disabled]="!itemForm.valid">
      Créer
    </button>
  </form>
</section>
