<section>
  <div class="list">
    <div *ngFor="let element of array" class="element">
      <div *ngIf="!users">
        <app-public-small-item [itemReceived]="element"></app-public-small-item>
      </div>
      <div *ngIf="users">
        <app-public-small-user [userReceived]="element"></app-public-small-user>
      </div>
    </div>
  </div>
  <div class="more">
    <p (click)="addElementsToList(list)">Voir plus +</p>
    <p *ngIf="filter > 4" (click)="closeList(array)">Voir moins -</p>
  </div>
</section>
