section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-list {
}
.four-list {
  flex-wrap: wrap;
}

.center-list,
.four-list {
  display: flex;
  // flex-wrap: wrap;
  margin-left: -0.5vw;
  width: 100%;
  justify-content: center;
  margin-bottom: 2vh;
}
.element {
  width: 22vw;
}

.title {
  font-size: 3.125rem;
  font-family: "Amatic SC", cursive;
  text-align: center;
  padding: 5vh;
  border: 2px solid var(--main-color, #eadda6);
}

.more {
  display: flex;
  margin-bottom: 3vh;
  align-self: center;
  cursor: pointer;
}

.more:hover {
  background-color: var(--main-color, #eadda6);
  padding: 1vw 1vh;
  color: white;
  border-radius: 5%;
}

.more-responsive {
  display: none;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reponsive {
  display: none;
}

@media screen and (max-width: 800px) {
  .list-wrapper {
    display: flex;
    overflow: overlay;
  }

  .reponsive {
    display: block;
  }

  .desktop {
    display: none;
  }

  .four-list {
    overflow: overlay;
    display: flex;
    padding: 4vw;
    flex-wrap: nowrap;
  }
  // section {
  //   display: flex;
  // }

  .center-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more {
    display: none;
  }

  .more-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
