<section *ngIf="itemsList || usersList">
  <div>
    <div *ngIf="itemsList && itemsList.length == 0" class="empty">
      <p>Il n'y a aucun objet dans cette section</p>
    </div>
    <div *ngIf="itemsList" class="list-wrapper">
      <div
        [ngClass]="{
          'center-list': itemsList.length < 4,
          'four-list': itemsList.length >= 4
        }"
      >
        <div *ngFor="let element of array">
          <app-public-small-item
            [itemReceived]="element"
            class="element"
          ></app-public-small-item>
        </div>
        <mat-card
          class="more-responsive"
          *ngIf="itemsList && itemsList.length > 4"
        >
          <p (click)="addElementsToList(itemsList)">Voir plus +</p>
        </mat-card>
      </div>
      <p class="more" (click)="addElementsToList(itemsList)">Voir plus +</p>
      <!-- <p *ngIf="filter > 4" class="more" (click)="closeList(itemsList)">
        Voir moins -
      </p> -->
    </div>
    <div *ngIf="usersList" class="list-wrapper">
      <div
        [ngClass]="{
          'center-list': usersList.length < 4,
          'four-list': usersList.length >= 4
        }"
      >
        <div *ngFor="let element of array" class="element">
          <app-public-small-user
            [userReceived]="element"
          ></app-public-small-user>
        </div>
        <mat-card
          class="more-responsive"
          *ngIf="usersList && usersList.length > 4"
        >
          <p (click)="addElementsToList(usersList)">Voir plus +</p>
        </mat-card>
      </div>
      <p class="more" (click)="addElementsToList(usersList)">Voir plus +</p>
      <!-- <p *ngIf="filter > 4" class="more" (click)="closeList(usersList)">
        Voir moins -
      </p> -->
    </div>
  </div>
</section>
