section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   display: grid;
  //   grid-template-rows: 15% auto;
  //   grid-template-areas:
  //     "title title title title"
  //     "main main main main";
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.center-list,
.four-list {
  display: flex;
  flex-wrap: wrap;
  // padding: 4vw;
  width: 100%;
}
.element {
  width: 22vw;
}

.title {
  font-size: 3.125rem;
  font-family: "Amatic SC", cursive;
  text-align: center;
  padding: 5vh;
  border: 2px solid var(--main-color, #eadda6);
}

.more {
  display: flex;
  margin-bottom: 3vh;
  align-self: center;
}

.more-responsive {
  display: none;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reponsive {
  display: none;
}

@media screen and (max-width: 800px) {
  .list-wrapper {
    display: flex;
    overflow: overlay;
  }

  .reponsive {
    display: block;
  }

  .desktop {
    display: none;
  }

  .four-list {
    overflow: overlay;
    display: flex;
    padding: 4vw;
    flex-wrap: nowrap;
  }
  // section {
  //   display: flex;
  // }

  .center-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more {
    display: none;
  }

  .more-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
