<section *ngIf="userToConnect">
  <div
    *ngIf="
      !friend &&
      !receivedDemandIsWaiting &&
      !sendDemandIsWaiting &&
      !friendshipSend
    "
    class="askForFriend"
  >
    <button (click)="askForFriend(visitedUser)">Demander en ami</button>
  </div>
  <div *ngIf="receivedDemandIsWaiting && !friend" class="answerToDemand">
    <h1>Cette personne souhaite vous ajouter à sa liste d'amis</h1>
    <div class="answer">
      <button (click)="friendDemandAccepted(receivedDemandIsWaiting)">
        Accepter
      </button>
      <button (click)="deleteFriendship(friendship)">Refuser</button>
    </div>
  </div>

  <div
    *ngIf="
      (sendDemandIsWaiting && !friend && !demandAccepted) || friendshipSend
    "
  >
    <h1>Vous avez demandé cette personne en ami</h1>
  </div>
  <div *ngIf="friend || demandAccepted" class="delete">
    <h1 *ngIf="friend">Vous êtes amis</h1>
    <button (click)="deleteFriendship(friendship)">
      Retirer de la liste d'amis
    </button>
  </div>
</section>
