.managingLoan {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.small {
  width: 20%;
}

.users {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.loan {
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
}

.status-loan {
  font-size: 3.125rem;
  font-family: "Amatic SC", cursive;
  color: #eadda6;
  padding-top: 3vh;
}

h1,
h2 {
  font-family: "Bellota", cursive;
  font-size: 1.875rem;
}

.loan-details {
  font-family: "Bellota", cursive;
  text-align: center;
  background-color: #eadda6;
  color: white;
}

.loan-details:hover {
  background-color: white;
  color: #eadda6;
  border: 3px solid #eadda6;
}
