<div class="managingLoan" *ngIf="loan">
  <div class="loan">
    <h1>Prêt</h1>
    <div>
      <div class="decline-text" *ngIf="mouseOvered">
        <p>
          Si vous refuser le prêt, un éditeur de mail s'ouvrira afin de vour
          permettre d'expliquer la raison de votre refus à
          {{ personToContact }}.
        </p>
        <br />
        <p>Merci de respecter les règles de courtoisie.</p>
      </div>
      <app-public-small-item
        *ngIf="!mouseOvered"
        [itemReceived]="loan.borrowedItem"
        class="small"
        [loan]="loan"
      ></app-public-small-item>
    </div>
  </div>
  <div class="right">
    <div class="users" *ngIf="loan.owner && loan.borrower">
      <div>
        <h2>De</h2>
        <app-public-small-user
          [userReceived]="loan.owner"
          class="small"
          [loan]="loan"
        ></app-public-small-user>
      </div>

      <div>
        <h2>à</h2>
        <app-public-small-user
          [userReceived]="loan.borrower"
          class="small"
          [loan]="loan"
        ></app-public-small-user>
      </div>
    </div>
    <div class="status">
      <h2 class="status-loan">Etat du prêt :</h2>
      <h2>{{ loan.loanStatus.name }}</h2>
      <h2 (click)="changeLoanStatus(loan)" class="loan-details">
        {{ validationStatus }}
      </h2>

      <a
        *ngIf="sendMailToOther"
        href="{{ sendMailToOther }}"
        (mouseover)="mouseOvered = true"
        (mouseout)="mouseOvered = false"
      >
        <h2
          *ngIf="isOwner && loan.loanStatus.id === 1"
          class="loan-details"
          (click)="declineLoan(loan)"
        >
          Refuser le prêt
        </h2></a
      >
      <a *ngIf="sendMailToOther" href="{{ sendMailToOther }}">
        <h2 *ngIf="loan.loanStatus.id !== 1 || 6" class="loan-details">
          Contacter {{ personToContact }}
        </h2>
      </a>
    </div>
  </div>
</div>
