section {
  // width: 20%;
  background-color: white;
  padding: 2%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  align-items: center;
}

.buttons {
  display: flex;
}

.form-cases {
  display: flex;
  align-items: center;
  border: 1px solid #1a1a1a;
  border-radius: 100px;
  opacity: 0.5;
  justify-content: center;
  margin-top: 23px;
  width: 60vw;
}

input {
  border: none;
  padding: 13px;
  outline: none;
  font-size: 2.5vh;
  color: #1a1a1a;
  width: 40vw;
  text-align: center;
  line-height: 3vh;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: -25px;
  font-family: "Regular", "Lato";
  letter-spacing: 0;
  color: #1a1a1a;
  font-size: 14px;
}

.valid-button {
  margin-top: 5vh;
  border-radius: 50%;
  background-color: var(--main-color, #eadda6);
  border: none;
  color: white;
  height: 9vh;
  width: 9vw;
  align-self: center;
  font-size: 1.4rem;
}

p {
  margin: 2px;
  text-align: center;
  font-family: "Regular", "Lato";
  font-size: 14px;
}

.error {
  color: #ff6969;
}

@media screen and (max-width: 800px) {
  section {
    margin-top: 3vh;
  }

  .valid-button {
    height: 15vh;
    width: 22vw;
    font-size: 1.5rem;
    margin-top: 7vh;
  }
}

@media screen and (max-width: 500px) {
  .valid-button {
    height: 15vh;
    width: 22vw;
    font-size: 0.8rem;
    margin-top: 7vh;
  }
}
