<section *ngIf="item">
  <!-- <app-private-loan
    [[item]="item"
    [borrower]="requestUser"
    [owner]="item.user"]
  ></app-private-loan> -->
  <div class="board">
    <div>
      <app-public-small-user
        [userReceived]="requestUser"
      ></app-public-small-user>
      <app-public-small-user [userReceived]="item.user"></app-public-small-user>
    </div>
    <div>
      <h2
        *ngIf="item.itemStatus.id !== 2"
        (click)="requestTheLoan(item, requestUser, item.user)"
      >
        Valider la demande de prêt
      </h2>
      <p *ngIf="requestValidated">Demande de prêt envoyée</p>
      <p *ngIf="item.itemStatus.id === 2">
        Ce produit est actuellement indisponible
      </p>
    </div>
  </div>
  <app-public-small-item [itemReceived]="item"></app-public-small-item>
</section>
