.loans,
.friends {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.loan {
  display: flex;
  width: 25%;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.managing {
  width: 86%;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

span {
  font-size: 2rem;
}
