.loans,
friends {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.loan {
  display: flex;
  width: 25%;
}

section {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
