<h1>MON PROFIL</h1>

<div *ngIf="user">
  <app-private-user [userToDisplay]="user"></app-private-user>
</div>
<div *ngIf="user" class="wrapper">
  <div class="style-container">
    <h2>Mes objets disponibles</h2>
  </div>
  <app-list *ngIf="availableItems" [itemsList]="availableItems"></app-list>
  <div class="style-container">
    <h2>Mes objets prétés</h2>
  </div>
  <app-list *ngIf="unavailableItems" [itemsList]="unavailableItems"></app-list>
  <div class="style-container">
    <h2>Objets empruntés</h2>
  </div>
  <app-list *ngIf="borrows" [itemsList]="borrows"></app-list>
  <div class="style-container">
    <h2>Tous mes objets</h2>
  </div>
  <app-list *ngIf="user" [itemsList]="user.items"></app-list>

  <app-public-description-user></app-public-description-user>
</div>
