<section>
  <h1>MON PROFIL</h1>

  <div *ngIf="user" class="user">
    <app-private-user [userToDisplay]="user"></app-private-user>
  </div>
  <a [routerLink]="['/item/create/new']">
    <mat-icon>add</mat-icon>
    Ajouter un objet</a
  >
  <div *ngIf="user" class="wrapper">
    <div *ngIf="availableItems" class="style-container">
      <h2>Mes objets disponibles</h2>
    </div>
    <app-list
      *ngIf="availableItems"
      [itemsList]="availableItems"
      [filterSelected]="4"
    ></app-list>
    <div *ngIf="unavailableItems" class="style-container">
      <h2>Mes objets indisponibles</h2>
    </div>
    <app-list
      *ngIf="unavailableItems"
      [itemsList]="unavailableItems"
      [filterSelected]="4"
    ></app-list>
    <div *ngIf="borrows" class="style-container">
      <h2>Objets empruntés</h2>
    </div>
    <app-list
      *ngIf="borrows"
      [itemsList]="borrows"
      [filterSelected]="4"
    ></app-list>
    <div class="style-container">
      <h2>Tous mes objets</h2>
    </div>
    <app-list
      *ngIf="user"
      [itemsList]="user.items"
      [filterSelected]="4"
    ></app-list>
  </div>
  <app-public-description-user></app-public-description-user>
</section>
