section {
  background-color: #eadda6;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

div {
  display: flex;
  flex-direction: column;
  //   background-color: greenyellow;
  width: 20%;
}

h1 {
  font-size: 3.125rem;
  font-family: "Amatic SC", cursive;
  align-self: center;
  justify-self: center;
}

.title {
  display: flex;
  justify-content: center;
  width: 70vw;
}
