section {
  background-color: #eadda6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.user {
  display: flex;
  font-family: "Bellota", cursive;
  font-size: 1.875rem;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3.125rem;
  font-family: "Amatic SC", cursive;
  align-self: center;
  justify-self: center;
}

h1:hover,
h2:hover {
  cursor: pointer;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}
.title {
  display: flex;
  // justify-content: center;
  width: 70vw;
}

img {
  width: 5vw;
  height: 7vh;
  border-radius: 50%;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
