div {
  display: flex;
}

h1 {
  font-family: "Bellota", cursive;
  font-size: 1.875rem;
  text-align: center;
  color: #eadda6;
}

h1:hover {
  cursor: pointer;
  background-color: #eadda6;
  color: white;
}
