<section>
  <h1>Ne l'achète plus - Emprunte le !</h1>
  <!-- <img src="../../../assets/reading-925589_1920.jpg" alt="" /> -->
  <app-searchbar-container
    [items]="items"
    (searchResultsItems)="displaySearchResultsItems($event)"
  ></app-searchbar-container>
  <h1 #results>OBJETS</h1>
  <div *ngIf="items && items.length > 0" class="items">
    <app-list *ngIf="!searchResultsItems" [itemsList]="items"></app-list>
    <app-list
      *ngIf="searchResultsItems"
      [itemsList]="searchResultsItems"
    ></app-list>
  </div>

  <h1 *ngIf="friendsItems && friendsItems.length > 0">OBJETS DE MES AMIS</h1>
  <div *ngIf="friendsItems && friendsItems.length > 0" class="items">
    <app-list [itemsList]="friendsItems"></app-list>
  </div>

  <h1>MEMBRES</h1>
  <div class="search">
    <div class="example-button-container" *ngIf="searchBarClosed">
      <button
        mat-fab
        color="basic"
        aria-label="Example icon button with a home icon"
        (click)="openSearchbarAgain()"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="users" class="users">
    <app-list [usersList]="users"></app-list>
  </div>
</section>
