<section>
  <div class="title-section">
    <h2>Agis pour l'écologie et tes économies</h2>
    <h2 class="text">
      Tu en as assez d'acheter un objet pour ne l'utiliser qu'une seule fois ?
    </h2>
    <h1>Ne l'achète plus - Emprunte le !</h1>
    <button
      *ngIf="!connectedUser"
      class="connection-button"
      (click)="openAuthentification()"
    >
      - Se connecter - S'inscrire
    </button>
  </div>
  <!-- <img src="../../../assets/reading-925589_1920.jpg" alt="" /> -->
  <app-searchbar-container
    (searchResultsItems)="displaySearchResultsItems($event)"
    (searchResultsUsers)="displaySearchResultsUsers($event)"
  ></app-searchbar-container>
  <h2 *ngIf="!searchResultsItems && !searchResultsUsers && items">OBJETS</h2>
  <h2 *ngIf="searchResultsItems || searchResultsUsers">RESULTATS</h2>
  <div *ngIf="items && items.length > 0" class="items" #results>
    <app-list
      *ngIf="!searchResultsItems && !searchResultsUsers && items"
      [itemsList]="items"
      [filterSelected]="8"
      class="desktop"
    ></app-list>
    <app-list
      *ngIf="searchResultsItems && !searchResultsUsers"
      [itemsList]="searchResultsItems"
      [filterSelected]="4"
      class="desktop"
    ></app-list>
    <app-list
      *ngIf="searchResultsUsers && !searchResultsItems"
      [usersList]="searchResultsUsers"
      [filterSelected]="4"
      class="desktop"
    ></app-list>
    <app-list
      *ngIf="!searchResultsItems && !searchResultsUsers && items"
      [itemsList]="items"
      [filterSelected]="10"
      class="responsive"
    ></app-list>
    <app-list
      *ngIf="searchResultsItems && !searchResultsUsers"
      [itemsList]="searchResultsItems"
      [filterSelected]="10"
      class="responsive"
    ></app-list>
    <app-list
      *ngIf="searchResultsUsers && !searchResultsItems"
      [usersList]="searchResultsUsers"
      [filterSelected]="10"
      class="responsive"
    ></app-list>
  </div>

  <h2 *ngIf="friendsItems && friendsItems.length > 0">OBJETS DE MES AMIS</h2>
  <div *ngIf="friendsItems && friendsItems.length > 0" class="items">
    <app-list
      class="desktop"
      [itemsList]="friendsItems"
      [filterSelected]="4"
    ></app-list>
    <app-list
      [itemsList]="friendsItems"
      [filterSelected]="10"
      class="responsive"
    ></app-list>
  </div>

  <h2 *ngIf="users && users.length > 0">MEMBRES</h2>
  <div *ngIf="users && users.length > 0" class="users">
    <app-list
      class="desktop"
      [usersList]="users"
      [filterSelected]="4"
    ></app-list>
    <app-list
      *ngIf="users"
      [usersList]="users"
      [filterSelected]="10"
      class="responsive"
    ></app-list>
  </div>
</section>
