<section *ngIf="userToDisplay">
  <mat-card class="user">
    <div>
      <app-information
        [information]="userToDisplay.pseudo"
        (newInformation)="updateUser(userToDisplay.id, { pseudo: $event })"
      ></app-information>

      <app-information
        [information]="userToDisplay.email"
        (newInformation)="updateUser(userToDisplay.id, { email: $event })"
      ></app-information>
    </div>
    <div class="place">
      <span class="material-icons">
        place
      </span>
      <app-information
        [information]="userToDisplay.city"
        (newInformation)="updateUser(userToDisplay.id, { city: $event })"
      ></app-information>
    </div>
  </mat-card>

  <img
    src="{{ userToDisplay.avatar }}"
    alt="{{ userToDisplay.pseudo }}"
    title="modifier l'avatar"
    (click)="updateAvatar(userToDisplay.id)"
  />
</section>
<div *ngIf="openUpdateAvatar">
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <input
      matInput
      placeholder="Ex. It makes me feel..."
      [(ngModel)]="newAvatar"
      name="avatar"
    />
  </mat-form-field>
  <button (click)="updateUser(userToDisplay.id, { avatar: newAvatar })">
    Valider changement
  </button>
</div>
