<mat-card
  *ngIf="userReceived"
  class="matcard"
  (click)="openPublicSmallUser(userReceived.id)"
>
  <div class="container">
    <div class="title">
      <h1>{{ userReceived.pseudo }}</h1>
      <div class="place">
        <span class="material-icons"> place </span>
        <h2>{{ userReceived.city }}</h2>
      </div>
    </div>
    <img
      *ngIf="userReceived.avatar"
      src="{{ userReceived.avatar }}"
      alt="userReceived.pseudo"
    />
    <img
      *ngIf="!userReceived.avatar"
      src="../../../../assets/profil-picture-null.png"
      alt="no profile picture"
    />
  </div>
</mat-card>
