<div class="monitoring" *ngIf="loans">
  <div class="loans">
    <div *ngIf="loansRequest && loansRequest.length > 0">
      <p>
        <span>{{ loansRequest.length }}</span> Demandes d'emprunts reçues
      </p>
    </div>

    <div *ngIf="loansInProgress && loansInProgress.length >= 0">
      <p>
        <span>{{ loansInProgress.length }} </span>objets prétés
      </p>
    </div>

    <div *ngIf="loansPending && loansPending.length > 0">
      <p>
        <span>{{ loansPending.length }}</span> objets à apporter à l'emprunteur
      </p>
    </div>
    <div *ngIf="loansDemandsReturn && loansDemandsReturn.length > 0">
      <p>
        <span>{{ loansDemandsReturn.length }} </span>Objets à récupérer
      </p>
    </div>
    <div *ngIf="waitingfinishedLoans && waitingfinishedLoans.length > 0">
      <p>
        <span>{{ waitingfinishedLoans.length }} </span>retours à valider
      </p>
    </div>
  </div>
  <div class="borrows">
    <!-- <div *ngIf="borrowsRequest && borrowsRequest.length >= 0">
      <p>
        <span>{{ borrowsRequest.length }} </span> demande d'emprunts en cours
      </p>
    </div> -->
    <div *ngIf="borrowsInPending && borrowsInPending.length > 0">
      <p>
        <span>{{ borrowsInPending.length }}</span> objets attendus
      </p>
    </div>

    <div *ngIf="borrowsInProgress && borrowsInProgress.length >= 0">
      <p>
        <span>{{ borrowsInProgress.length }} </span>Objets empruntés
      </p>
    </div>
    <div *ngIf="waitingfinishedBorrows && waitingfinishedBorrows.length >= 0">
      <p>
        <span>{{ waitingfinishedBorrows.length }} </span>retours en attente de
        confirmation
      </p>
    </div>
    <div
      *ngIf="friendshipDemandsReceived && friendshipDemandsReceived.length >= 0"
    >
      <p>
        <span>{{ friendshipDemandsReceived.length }} </span>Demandes en amis
      </p>
    </div>
  </div>
</div>
