<section class="displayer">
  <div *ngIf="itemToDisplay">
    <div class="return">
      <span class="material-icons" (click)="returnToHomepage()">
        arrow_back
      </span>
    </div>
    <div class="span-and-text place">
      <span class="material-icons place"> place </span>
      <p>{{ itemToDisplay.user.city }}</p>
    </div>
    <div class="description">
      <img
        src="{{ itemToDisplay.image }}"
        alt="{{ itemToDisplay.title }}"
        class="item"
      />
      <div class="description-right">
        <h1>{{ itemToDisplay.title }}</h1>
        <mat-card class="details">
          <h2>Catégorie: {{ itemToDisplay.category.name }}</h2>
          <h3 *ngIf="itemToDisplay.console">
            Console : {{ itemToDisplay.console.name }}
          </h3>
          <h3>{{ itemToDisplay.itemStatus.name }}</h3>
          <h3 *ngIf="userIsOwner">{{ itemToDisplay.visibility }}</h3>
          <button *ngIf="userIsOwner" (click)="openUpdatingVisibility()">
            Changer la visibilité
          </button>

          <mat-form-field
            appearance="fill"
            *ngIf="visibilityUpdating"
            class="visibility"
          >
            <mat-label>Choisis la visibilité souhaitée</mat-label>
            <mat-select [(value)]="chosenVisibilityToUpdate">
              <mat-option
                *ngFor="let option of visibilityOptions"
                [value]="option"
                (click)="updateVisibility(itemToDisplay.id, option)"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button *ngIf="!userIsOwner" (click)="requestALoan(itemToDisplay.id)">
            Faire une demande de prêt
          </button>
          <button *ngIf="userIsOwner" (click)="updateItem(itemToDisplay.id)">
            Modifier
          </button>
          <button *ngIf="userIsOwner" (click)="deleteItem(itemToDisplay.id)">
            Supprimer
          </button>

          <div class="owner">
            <h3>Propriétaire :</h3>
            <mat-card class="owner-card">
              <h3>{{ itemToDisplay.user.pseudo }}</h3>
              <img
                *ngIf="itemToDisplay.user.avatar"
                src="{{ itemToDisplay.user.avatar }}"
                alt="{{ itemToDisplay.user.pseudo }}"
              />
              <img
                *ngIf="!itemToDisplay.user.avatar"
                src="../../../assets/profil-picture-null.png"
                alt="{{ itemToDisplay.user.pseudo }}"
              />
            </mat-card>
            <p>{{ itemToDisplay.description }}</p>
          </div>

          <app-evaluation
            [evaluations]="itemToDisplay.evaluations"
            [item]="itemToDisplay"
            class="evaluation"
          ></app-evaluation>
        </mat-card>
      </div>
    </div>
  </div>
  <app-tags-container
    *ngIf="itemToDisplay.tags.length > 0"
    [tags]="itemToDisplay.tags"
  ></app-tags-container>
</section>
