.displayer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  margin-top: 2.5rem;
}

.description {
  display: flex;
  justify-content: space-evenly;
  grid-area: wrapper-description;
}

.description-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.details {
  grid-area: description;
}

h1 {
  font-family: "Bellota", cursive;
  font-size: 1.875rem;
  text-align: center;
  color: var(--main-color, #eadda6);
  grid-area: title;
}

h2,
h3 {
  font-family: "Bellota", cursive;
}

.item {
  width: 20rem;
  height: 30rem;
  grid-area: img;
}

// .left {
//   display: flex;
//   flex-direction: column;
// }

span {
  margin-bottom: 3vh;
  margin-top: 3vh;
  color: var(--main-color, #eadda6);
}

.span-and-text {
  display: flex;
  align-items: center;
  font-family: "Bellota", cursive;
  font-size: 30px;
  color: var(--main-color, #eadda6);
}

.return {
  color: var(--main-color, #eadda6);
  cursor: pointer;
}

.place {
  margin-left: 7vw;
}

button {
  background-color: var(--main-color, #eadda6);
  border: none;
  color: white;
  padding: 1vh;
  border-radius: 5%;
}

button:hover {
  background-color: white;
  color: var(--main-color, #eadda6);
  border: none;
  border-radius: 5%;
  border: 3px solid var(--main-color, #eadda6);
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6%;
}

.owner {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 18.75rem;
  margin-bottom: 2.5rem;
  img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: 1px solid grey;
    vertical-align: top;
  }
}

@media screen and (max-width: 800px) {
  .displayer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "title"
      "img"
      "description";
    justify-items: center;
  }
  .item {
    width: 15rem;
    height: 25rem;
  }

  .owner-card {
    width: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .span-and-text {
    display: none;
  }

  .evaluation {
    width: 36vw;
  }

  .visibility {
    width: 38vw;
  }
  h2 {
    font-size: 1em;
  }

  .return {
    display: none;
  }

  //   .displayer {
  //     flex-direction: column-reverse;
  //   }

  //   .item {
  //     width: 55vw;
  //     height: 100vh;
  //   }

  //   .details {
  //     width: 80%;
  //   }
}
