img {
  width: 182px;
  margin-top: 4vh;
  height: 265px;
}

.container {
  display: grid;
  grid-auto-rows: 20% auto 30%;
  justify-items: center;
  width: 100%;

  border: 3px solid white;
  height: 65vh;

  width: 100%;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
}

h1:hover {
  text-decoration: underline;
}

h2 {
  line-height: 11vh;
}

.city {
  text-align: center;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}

.matcard:hover {
  background-color: var(--main-color, #eadda6);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 8px;
    // font-family: auto;
    line-height: 12px;
    margin-bottom: 0px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 15vw;
    height: 19vh;
    align-self: center;
  }

  mat-card {
    width: 100%;
    margin-right: 2vw;
    padding: 0px;
  }

  span,
  h2 {
    font-size: 1em;
  }

  .city-name {
    font-size: 0.6rem;
    line-height: 4vh;
  }
}
