div {
  background-color: white;
  padding: 10vh 10vw;
  border-radius: 20%;
}

button {
  background-color: #eadda6;
  border: none;
  color: white;
  padding: 1vh;
}

button:hover {
  background-color: white;
  color: #eadda6;
  border: 3px solid #eadda6;
  cursor: pointer;
}
