div {
  background-color: white;
  padding: 10vh 10vw;
  border-radius: 12%;
}

button {
  background-color: var(--main-color, #eadda6);
  border: none;
  color: white;
  padding: 1vh;
}

button:hover {
  background-color: white;
  color: var(--main-color, #eadda6);
  border: 3px solid var(--main-color, #eadda6);
  cursor: pointer;
}

input {
  font-size: 2rem;
}

mat-form-field {
  width: 40vw;
}

@media screen and (max-width: 800px) {
  mat-form-field {
    width: 40vw;
  }

  div {
    padding: 10vh 15vw;
  }
}
