@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

section {
  display: flex;
  justify-content: space-evenly;
  margin: 3.125rem;
}

.grey {
  color: grey;
  font-size: 4.375rem;
  font-family: "Amatic SC", cursive;
}

.black {
  font-family: "Bellota", cursive;
  font-size: 1.875rem;
}

h2 {
  color: grey;
  font-size: 1.875rem;
  font-family: "Amatic SC", cursive;
  margin-left: 2.5rem;
  margin-top: 40px;
}
