<mat-card
  *ngIf="itemReceived"
  class="matcard"
  (click)="openPublicSmallItem(itemReceived.id)"
>
  <div class="container" *ngIf="itemReceived">
    <div class="title">
      <h1>{{ itemReceived.title }}</h1>
    </div>
    <h2 *ngIf="itemReceived && itemReceived.author">
      {{ itemReceived.author }}
    </h2>

    <img src="{{ itemReceived.image }}" alt="{{ itemReceived.title }}" />
    <div class="city">
      <span class="material-icons"> place </span>
      <h2 class="city-name">{{ itemReceived.user.city }}</h2>
    </div>
  </div>
</mat-card>
