<section>
  <div class="search">
    <app-searchbar
      *ngIf="items && items.length > 0 && !searchBarClosed"
      [items]="items"
      (searchResultsItems)="displaySearchResultsItems($event)"
    ></app-searchbar>

    <div class="new-search" *ngIf="searchBarClosed">
      <button
        mat-fab
        color="basic"
        aria-label="Example icon button with a home icon"
        (click)="openSearchbarAgain()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <p>Nouvelle recherche</p>
    </div>
  </div>
</section>
